
.column-1 {
  width: 40%;
  margin: 0px 10px;
  display: inline-block;
  background-image: url("https://img0.etsystatic.com/033/0/5411456/il_340x270.639988056_7y9z.jpg");
  vertical-align: top;
  padding: 0px 5px;
  height: 100%;
}

.column-2 {
  width: 40%;
  margin: 0px 10px;
  display: inline-block;
  vertical-align: top;
  background-color: green;
  padding: 0px 5px;
  height: 100%;
}

h2 {
  font-family: "Comic Sans MS"
}

header p {
  color: hotpink;
}

footer {
  margin: 10px auto;
  text-align: center;
  border-top: dotted;
}